table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}


#Mip_Body{
    white-space: nowrap;
    overflow-x: scroll;
    font-size: 12px;
}

#Mip_response{
 background-color:#95A5A6;
}