<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" strict="true">

	<Appenders>
		<Appender type="RollingFile" name="MainLogFile"
			filename="logs/out.log" filePattern="logs/out.log.%d{yyyy}-%i.gz">
			<Layout type="PatternLayout">
				<Pattern>%-5p [%d{ISO8601}][%t][%M] %m%n</Pattern>
			</Layout>
			<Policies>
				<!--OnStartupTriggeringPolicy / -->
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="3"
				fileIndex="min" />
		</Appender>
		<Console name="Console" target="SYSTEM_OUT">
			<Layout type="PatternLayout">
				<Pattern>%-5p [%d{ISO8601}][]%t][%M] %m%n</Pattern>
			</Layout>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="aero.sita.pts.gsl" level="DEBUG"
			additivity="false">
			<AppenderRef ref="MainLogFile" />
			<AppenderRef ref="Console" />
		</Logger>
		<logger name="org.springframework.jms" level="WARN"
			additivity="false">
			<AppenderRef ref="MainLogFile" />
			<AppenderRef ref="Console" />
		</logger>

		<logger name="org.springframework.boot" level="ERROR"
			additivity="false">
			<AppenderRef ref="MainLogFile" />
			<AppenderRef ref="Console" />
		</logger>

		<logger name="org.springframework.core.env" level="WARN"
			additivity="false">
			<AppenderRef ref="MainLogFile" />
			<AppenderRef ref="Console" />
		</logger>
		
		<logger name="aero.sita.gsl.wasp.tsc" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
        </logger>
        
		<Root level="DEBUG">
			<AppenderRef ref="MainLogFile" />
		</Root>
	</Loggers>
</Configuration>